VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=sistemppcmgestaofrota.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sistemppcmgestaofrota
VITE_FIREBASE_STORAGE_BUCKET=sistemppcmgestaofrota.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=469472530599
VITE_FIREBASE_APP_ID=1:469472530599:web:163c7b75ae1c567cd6cb82
VITE_FIREBASE_MEASUREMENT_ID=G-BNFTL5ZHKH
